
@import url(LocalFonts.css);

* {
    font-family: 'Droid Sans', arial, serif !important;
}

.ui-widget,
.ui-widget-header,
.ui-widget-content,
.ui-datatable ui-widget,
.ui-datatable-data ui-widget-content,
.ui-column-title
{
    font-size: 14px !important;
}
.top{
    vertical-align: top;
}
.shoppingcart{
    background-image: url(../../icono/shoppingcart.png) !important;
    background-repeat: no-repeat;
}
.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
    border: none;
    border-color:  white;
}

.itemResaltado1 { 
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
.itemResaltado2 { 
    font-weight: bold;
    background: #ccffcc;
    padding: 5px;
    border-radius: 10px;
}
.nav { 
    color: #546078;
    text-decoration: none;
    display: block;
    height: 25px;
}
.nav:hover {
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    height: 25px;
}