@import url(LocalFonts.css);

* {
    font-family: 'Droid Sans', arial, serif !important;
}

.ui-widget,
.ui-widget-header,
.ui-widget-content,
.ui-datatable ui-widget,
.ui-datatable-data ui-widget-content,
.ui-column-title,
.ui-toolbar
{
    font-size: 1em !important;
}
.ui-button, .ui-button-text {
    font-size: 1.1em;
}
.ui-spinner-input{
    height: 50px !important;
    font-size: 1.1em !important;
    width: 90%;
}
.top{
    vertical-align: top !important;
}
.shoppingcart{
    width: 20px;
    height: 20px;
    background-image: url( ../../icono/cart.png) !important;
    background-repeat: no-repeat;
}
.escoba{
    background-image: url( ../../icono/escoba.png) !important;
    background-repeat: no-repeat;
}
.sign-in{
    width: 40px;
    height: 40px;
    background-image: url(../../icono/sign-in.png) !important;
    background-repeat: no-repeat;
}
.login{
    width: 40px;
    height: 40px;
    background-image: url(../../icono/login.png) !important;
    background-repeat: no-repeat;
}

.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
    border: none !important;   
}

.itemResaltado1 { 
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
.itemResaltado2 { 
    font-weight: bold;
    background: #ccffcc;
    padding: 5px;
    border-radius: 10px;
}
.titulo1 { 
    font-size: 1.8em;
    font-weight: bold;
    color: #000066;
    padding: 5px;
}
.titulo2 { 
    font-size: 1.6em;
    color: #666666;
    font-weight: bold;
    padding: 5px;
}
.titulo3 { 
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px;
}

.texto-tachado {
    text-decoration:line-through;
    color: red;
    font-size: 1.4em;
    font-weight: bold;
}
.texto-no-tachado {
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}
.texto-promocion { 
    font-weight: bold;
    background: #ccffcc;
    font-size: 1.4em;
    padding: 5px;
    border-radius: 10px;
}
.texto-carrito { 
    font-weight: bold;
    font-size: 1.4em;
    padding: 5px;
    color: white;
    text-shadow: 0px 0px 10.0px #8F8F8F;
    background: #666666;
    border-radius: 10px;
}
.texto-centrado {
    text-align: center;
}
.nav { 
    color: #546078;
    text-decoration: none;
    display: block;
    height: 25px;
}
.nav:hover {
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    height: 25px;
}
.header-background{
    background-image: url("../../img/backg1.jpg") !important;
    background-repeat: repeat;
}

.ui-layout-west {
    z-index:20 !important;
    overflow:visible !important;
}
.ui-layout-west .ui-layout-unit-content {
    overflow:visible !important;
}